# {{ ansible_managed }}
{% set short_name = inventory_hostname.split('.') %}
{% set ultra_short_name = inventory_hostname.split('-') %}

127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4 {{inventory_hostname}} {{ansible_hostname}} {{ultra_short_name[3]}}{{ultra_short_name[4] | replace ('.td','')}}
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6 {{inventory_hostname}} {{ansible_hostname}} {{ultra_short_name[3]}}{{ultra_short_name[4] | replace ('.td','')}}

# {{ managed_host }}
{% for item in play_hosts %}
{% set short_name = item.split('.') %}
{% set ultra_short_name = item.split('-') %}
{{ hostvars[item]['ansible_host'] }}  {{ item }} {{ short_name[0] }} {{ultra_short_name[3]}}{{ultra_short_name[4] | replace ('.td','')}}
{% endfor %}
# {{managed_end}}
